$white : #FFFFFF;
$background : #070724;
$dark-grey : #38384F;
$light-grey: #838391;
$blue : #419EBB;
$yellow : #EDA249;
$purple : #6F2ED6;
$hot-orange : #D14C32;
$red : #D83A34;
$brown: #CD5120;
$teal : #1EC2A4;
$dark-blue: #2d68F0;
